html {
    background-color: lightgrey;
}

p {
    font-family: cursive;
}

h2 {
    color: palevioletred;
    font-family: cursive;
}

ul {
    font-family: cursive;
}

li {
    font-family: cursive;
}

h3 {
    font-family: cursive;
}

h1 {
    font-family: cursive;
    color: palevioletred;
}